<footer class="bg-dark text-light py-4">
	<div class="container">
		<div class="row">
			<!-- Navigation links -->
			<div class="col-md-4">
				<h5>Navigation</h5>
				<ul class="list-unstyled">

				</ul>
			</div>

			<!-- Contact Information -->
			<div class="col-md-4">
				<h5>Contactez-nous</h5>
				<p>
					<strong>Email :</strong> contact@elegance.com<br>
					<strong>Téléphone :</strong> +33 1 23 45 67 89<br>
					<strong>Adresse :</strong> 123 Rue de l'Exemple, Paris, France
				</p>
			</div>

			<!-- Social Media Links -->
			<div class="col-md-4">
				<h5>Suivez-nous</h5>
				<ul class="list-unstyled d-flex">
					<li><a href="#" class="text-light me-3"><i class="fab fa-facebook fa-2x"></i></a></li>
					<li><a href="#" class="text-light me-3"><i class="fab fa-twitter fa-2x"></i></a></li>
					<li><a href="#" class="text-light me-3"><i class="fab fa-instagram fa-2x"></i></a></li>
					<li><a href="#" class="text-light"><i class="fab fa-linkedin fa-2x"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="text-center pt-3">
			<p>&copy; 2024 Elegance. Tous droits réservés.</p>
		</div>
	</div>
</footer>
